@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
html {
    scroll-behavior: smooth;
}
  
#company_logo{
    display: block;
    width: 100px;
    height: 10 0px;
}

.intro{
    height: 300px;
    width: 100%;
    background-color: rgba(225, 223, 223, 0.66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h1{
    font-family: 'Hammersmith One', sans-serif; 
    font-size: 128px; 
    text-align: center;
}

#typing-effect {
    font-size: 128px; 
    font-style: italic;
    color: #EE3537;
}

.intro h3{
    font-family: 'Hammersmith One', sans-serif; 
    text-align: center;
}

q:before {
    content: open-quote;
    font-family: 'Playfair Display', serif;
    margin-left: 20px;
    font-size: 6em;
}

q:after {
    content: close-quote;
    font-family: 'Playfair Display', serif;
    margin-left: 20px;
    font-size: 6em;
}

.inspiration h6{
    font-family: 'Playfair Display', serif;
    margin-left: 20px;
    font-size: 40px;
}

.inspiration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote{
    width: 50%; 
    height: auto;
    padding: 10px;
}

.chairman{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.chairman img{
  width: 100%;
  height: auto;
  animation: fadeInRight 2s ease-in-out;
}

#guidance{
    width: 50%;
    margin: auto;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 30px;
}
  
.social-media {
  text-align: center;
}
  
.social-media a {
  display: inline-block;
  margin: 0 10px;
  color: #000;
  font-size: 20px;
}
  
.social-media a:hover {
  color: #666;
}
  
.footer_nav {
  margin-top: 10px;
  text-align: center;
}
  
.footer_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.footer_nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer_nav a {
    color: #000;
    text-decoration: none;
  }
  
  .footer_nav a:hover {
    color: #666;
  }
  
/* Mobile and small screen styles */
@media screen and (max-width: 768px) {
  .intro h1 {
    font-size: 64px;
  }

  #typing-effect {
    font-size: 64px;
  }

  .intro h3 {
    font-size: 24px;
  }

  .quote {
    width: 100%;
  }

  .chairman {
    width: 300px;
    height: 300px;
  }
  .footer_nav li {
    display: block;
    margin: 10px 0;
  }
  .navbar-nav .nav-item {
    padding: 10px 20px;
  }
  .navbar-nav .active {
    background-color: transparent;
  }
}

/* CSS code */
@media only screen and (max-width: 767px) {
  /* For screens smaller than 767px */
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-nav {
    margin-top: 15px;
  }
  .nav-item {
    padding: 10px 15px;
  }
  .navbar-nav .active {
    background-color: #333;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 10px;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #080808;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: #000000;
  margin-top: 10px;
  z-index: 9999;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #000000;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rajdhani', sans-serif;
}

.timeline-content p {
  font-size: 16px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #121212;
}


@media screen and (max-width: 768px) {
  .container:before {
     left: 8px;
     width: 2px;
  }
  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }

  .timeline-block-left {
     float: none;
     direction: ltr;
  }
}
